/* Variables */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Global */
.body {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.7;
}

.container-menu {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
  position: absolute;
  margin-left: 40%;
  margin-top: 65px;
  width: auto;
}

/* Navigation*/
.navigation {
  padding: 0px 0;
}

.navigation ul li {
  display: inline-block;
  margin: 0 20px 0;
  position: relative;
  list-style: none;
}

.navigation ul li a {
  color: #ffffff;
  position: center;
  text-decoration: none;
}

.container-menu a:hover {
  color: #fed136;
}

/* Header */
.page-title a {
  color: #fed136;
  font-family: 'Great Vibes', cursive;
  position: absolute;
  overflow: hidden;
  margin-left: 30%;
  margin-top: 65px;
  font-size: 30px;
  text-decoration: none;
}

.splash {
  min-height: 500px;
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 0;
}

.splash .splash-inner {
  margin: auto;
  max-width: auto;
}

.splash .splash-inner .page-subtitle {
  padding: 0;
  font-weight: 900;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  font-size: 86px;
  text-align: center;
}

.splash .splash-inner .page-title {
  padding-top: 80px;
  color: #ffffff;
  font-size: 44px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

/* Buttons */
.btn {
  color: #ffffff;
  background: #fed136;
  padding: 35px;
  margin: 24px 500px 0;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  min-width: 270px;
}

/* Services */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 26%;
  margin-right: 26%;
}

.text-box {
  padding-bottom: -100%;
  position: relative;
  flex: 0 0 31%;
}

.text-box.text-box p:first-of-type {
  font-weight: bold;
}

.wrapper p {
  font-weight: lighter;
  font-size: 16px;
  color: #38ada9;
  text-align: center;
}

.wrapper h3 {
  padding-top: 20px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.wrapper i {
  font-size: 50px;
  color: #fed136;
  border: 5px solid #fed136;
  background-color: #ffffff;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  width: 100px;
  padding-top: 20px;
  text-align: center;
}

.wrapper {
  text-align: center;
  margin-top: 100px;
}

.services-title {
  margin-top: 50px;
  font-style: bold;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  color: #3d3d3d;
  text-align: center;
}

.services-subtitle {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: lighter;
  color: #3d3d3d;
  font-style: italic;
  text-align: center;
}

.services {
  margin-bottom: 100px;
  height: 50vh;
}

/* Portfolio */
.portfolio {
  background-color: #f1f2f6;
  margin-bottom: 100px;
  height: 120vh;
}

.portfolio-title {
  padding-top: 200px;
  font-style: bold;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  color: #3d3d3d;
  text-align: center;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: lighter;
  color: #3d3d3d;
  font-style: italic;
  text-align: center;
}

.card-group img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
}

.card-text {
  font-size: 20px;
  font-weight: lighter;
  color: #38ada9;
  font-style: italic;
  margin-top: -35px;
  text-align: center;
}

.card-body {
  border: 0px #fed136;
  background-color: #ffffff;
  box-sizing: border-box;
  height: -100px;
  padding: 30px;
}

/* Footer */
footer {
  margin: 44px 0;
}

footer ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

footer ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #3d3d3d;
  border-radius: 50%;
  line-height: 60px;
}

footer ul li a {
  font-size: 30px;
  color: #ffffff;
}

/* Media */
@media only screen and (max-width: 960px) {
  .wrapper {
    flex-direction: column;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFBO0FBT0E7RUFDQyxzQkFBc0I7QUNMdkI7O0FEUUEsV0FBQTtBQUVBO0VBQ0ksU0FBUztFQUNULGtCQUFrQjtFQUNsQixlQUFlO0VBQ2YsZ0JBQWdCO0FDTnBCOztBRFNBO0VBQ0ksaUJBQWlCO0VBQ2pCLGVBQWU7RUFDZixjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsV0FBVztBQ05mOztBRFNBLGNBQUE7QUFFQTtFQUNJLGNBQWM7QUNQbEI7O0FEVUU7RUFDRSxxQkFBcUI7RUFDckIsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixnQkFBZ0I7QUNQcEI7O0FEVUE7RUFDSSxjQTNDZ0I7RUE0Q2hCLGdCQUFnQjtFQUNoQixxQkFBcUI7QUNQekI7O0FEV0E7RUFDSSxjQWpEZ0I7QUN5Q3BCOztBRFdFLFdBQUE7QUFFRjtFQUNJLGNBdkRnQjtFQXdEaEIsbUNBQW1DO0VBQ25DLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNoQixlQUFlO0VBQ2YscUJBQXFCO0FDVHpCOztBRFlBO0VBQ0ksaUJBQWlCO0VBQ2pCLGFBQWE7RUFDYix1TEFBdUw7RUFDdkwsa0NBQWtDO0VBQ2xDLDRCQUE0QjtFQUM1QixzQkFBc0I7RUFDdEIsWUFBWTtFQUNaLGFBQWE7QUNUakI7O0FEWUE7RUFDSSxZQUFZO0VBQ1osZUFBZTtBQ1RuQjs7QURZQTtFQUNJLFVBQVU7RUFDVixnQkFBZ0I7RUFDaEIsb0NBQW9DO0VBQ3BDLGNBdEZnQjtFQXVGaEIsZUFBZTtFQUNmLGtCQUFrQjtBQ1R0Qjs7QURZQTtFQUNJLGlCQUFpQjtFQUNqQixjQTdGZ0I7RUE4RmhCLGVBQWU7RUFDZixrQkFBa0I7RUFDbEIsb0JBQW9CO0VBQ3BCLGtCQUFrQjtBQ1R0Qjs7QURZRSxZQUFBO0FBRUY7RUFDSSxjQXZHZ0I7RUF3R2hCLG1CQXZHZ0I7RUF3R2hCLGFBQWE7RUFDYixvQkFBb0I7RUFDcEIscUJBQXFCO0VBQ3JCLGVBQWU7RUFDZixrQkFBa0I7RUFDbEIscUJBQXFCO0VBQ3JCLGdCQUFnQjtBQ1ZwQjs7QURjRSxhQUFBO0FBRUY7RUFDSSxhQUFhO0VBQ2IsZUFBZTtFQUNmLDhCQUE4QjtFQUM5QixnQkFBZ0I7RUFDaEIsaUJBQWlCO0FDWnJCOztBRGVBO0VBQ0kscUJBQXFCO0VBQ3JCLGtCQUFrQjtFQUNsQixhQUFhO0FDWmpCOztBRGFJO0VBQ0UsaUJBQWlCO0FDVnZCOztBRGFBO0VBQ0ksb0JBQW9CO0VBQ3BCLGVBQWU7RUFDZixjQXRJa0I7RUF1SWxCLGtCQUFrQjtBQ1Z0Qjs7QURhQTtFQUNJLGlCQUFpQjtFQUNqQixvQ0FBb0M7RUFDcEMsa0JBQWtCO0FDVnRCOztBRGFBO0VBQ0ksZUFBZTtFQUNmLGNBbkpnQjtFQW9KaEIseUJBcEpnQjtFQXFKaEIseUJBdEpnQjtFQXVKaEIsYUFBYTtFQUNiLHdCQUF1QjtFQUN2QiwyQkFBMkI7RUFDM0IsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQixrQkFBa0I7QUNWdEI7O0FEYUU7RUFDRSxrQkFBa0I7RUFDbEIsaUJBQWlCO0FDVnJCOztBRGFBO0VBQ0ksZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNoQixlQUFlO0VBQ2Ysb0NBQW9DO0VBQ3BDLGNBdEtpQjtFQXVLakIsa0JBQWtCO0FDVnRCOztBRGFBO0VBQ0ksZ0JBQWdCO0VBQ2hCLG1CQUFtQjtFQUNuQixlQUFlO0VBQ2Ysb0JBQW9CO0VBQ3BCLGNBL0tpQjtFQWdMakIsa0JBQWtCO0VBQ2xCLGtCQUFrQjtBQ1Z0Qjs7QURhRTtFQUNFLG9CQUFvQjtFQUNwQixZQUFZO0FDVmhCOztBRGFFLGNBQUE7QUFFRjtFQUNFLHlCQTNMbUI7RUE0TG5CLG9CQUFvQjtFQUNwQixhQUFhO0FDWGY7O0FEZUE7RUFDSSxrQkFBa0I7RUFDbEIsZ0JBQWdCO0VBQ2hCLGVBQWU7RUFDZixvQ0FBb0M7RUFDcEMsY0F2TWlCO0VBd01qQixrQkFBa0I7QUNadEI7O0FEZUE7RUFDSSxlQUFlO0VBQ2Ysb0JBQW9CO0VBQ3BCLGNBOU1pQjtFQStNakIsa0JBQWtCO0VBQ2xCLGtCQUFrQjtBQ1p0Qjs7QURlQTtFQUNJLFlBQVk7RUFDWixhQUFhO0VBQ2Isb0JBQWlCO0tBQWpCLGlCQUFpQjtBQ1pyQjs7QURlQTtFQUNJLGVBQWU7RUFDZixvQ0FBb0M7RUFDcEMsa0JBQWtCO0VBQ2xCLGdCQUFnQjtBQ1pwQjs7QURlQTtFQUNJLGVBQWU7RUFDZixvQkFBb0I7RUFDcEIsY0FwT2tCO0VBcU9sQixrQkFBa0I7RUFDbEIsaUJBQWlCO0VBQ2pCLGtCQUFrQjtBQ1p0Qjs7QURlRTtFQUNFLG1CQTVPZ0I7RUE2T2hCLHlCQTlPZ0I7RUErT2hCLHNCQUFzQjtFQUN0QixjQUFjO0VBQ2QsYUFBYTtBQ1pqQjs7QURlRSxXQUFBO0FBRUY7RUFDSSxjQUFjO0FDYmxCOztBRGdCQTtFQUNJLGNBQWM7RUFDZCxVQUFVO0VBQ1Ysa0JBQWtCO0FDYnRCOztBRGdCQTtFQUNJLHFCQUFxQjtFQUNyQixXQUFXO0VBQ1gsWUFBWTtFQUNaLHlCQWpRaUI7RUFrUWpCLGtCQUFrQjtFQUNsQixpQkFBaUI7QUNickI7O0FEZ0JBO0VBQ0ksZUFBZTtFQUNmLGNBM1FnQjtBQzhQcEI7O0FEZ0JFLFVBQUE7QUFFRjtFQUVJO0lBQ0ksc0JBQXNCO0VDZjVCO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */