/* Global */
body {
  margin: 0;
}

p {
  color: #eff2f5;
}

.padding-x {
  padding-right: 40px;
  padding-left: 40px;
}

/* Navigation */
.navigation {
  width: 100%;
  position: absolute;
}

.navigation .row {
  flex-wrap: nowrap;
  align-items: center;
}

.navigation .row .logo {
  text-transform: capitalize;
  font-family: "Carattere", cursive;
  font-size: 38px;
  font-style: italic;
  color: #FED136;
  text-align: center;
  padding-right: 90px;
}

.navigation .row ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.navigation .row ul li {
  margin: 50px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.navigation .row ul li a {
  text-decoration: none;
  color: #FFF;
}

.navigation .row ul li a:hover {
  color: #FED136;
}

/* Splash */
.splash {
  background-image: url("/images/Background Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  display: flex;
  text-align: center;
  color: #FFF;
}

.splash .splash-inner {
  margin: auto;
  max-width: 70%;
}

.splash .splash-inner .page-subtitle {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 60px;
  margin-top: 10px;
}

.splash .splash-inner .page-title {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 38px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.splash .splash-inner .btn {
  display: inline-block;
  max-width: 250px;
  margin: 25px auto 0;
  padding: 20px 40px;
  border-radius: 3px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #FED136;
}

/* Service*/
section {
  color: #111;
}

section .section-header {
  text-align: center;
  margin: 60px 0 60px;
  padding-top: 40px;
}

section .section-header .section-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 0;
}

section .section-header p {
  font-size: 18px;
  font-style: italic;
  margin-top: 5px;
  color: #111;
}

section .container {
  text-align: center;
}

section .container .row i {
  color: #FED136;
  font-size: 50px;
  border: 5px solid #FED136;
  background-color: #FFF;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  width: 100px;
  padding-top: 20px;
  text-align: center;
}

section .container .row p {
  color: #111;
  font-family: "Merriweather", serif;
}

section .container .row .container-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

/* Our portfolio */
.our-portfolio {
  background-color: #eff2f5;
}

.our-portfolio .row {
  max-width: 1000px;
  margin: auto 70px;
  align-content: space-between;
  padding-bottom: 100px;
}

.our-portfolio .row .card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.our-portfolio .row .card .card-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-portfolio .row .card .card-body {
  background-color: #FFF;
}

.our-portfolio .row .card .card-body .card-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 5px;
  padding-top: 25px;
}

.our-portfolio .row .card .card-body .card-text {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 25px;
  font-style: italic;
}

/* Footer */
.footer {
  padding: 30px 0 30px 0;
  text-align: center;
  margin: auto 70px;
}

.footer p {
  color: #111;
}

.footer .list-inline {
  margin: 0 auto;
  padding: 0;
  word-spacing: 6px;
}

.footer .list-inline .list-inline-item {
  display: inline-block;
  font-size: 18px;
  width: 40px;
  height: 40px;
  background-color: #FED136;
  color: #FFF;
  border-radius: 50%;
  line-height: 40px;
}

/* Media */
@media (max-width: 767px) {
  .navigation .row {
    flex-wrap: wrap;
  }
  .navigation .row div:first-child {
    order: 1;
  }
  .navigation .row div:first-child .logo {
    text-align: left;
  }
  .navigation .row ul {
    display: flex;
  }
  .navigation .row ul li {
    flex: 1;
    flex-wrap: nowrap;
  }
  .splash .page-subtitle {
    display: none;
  }
  .margin-b {
    margin-bottom: 18px;
  }
  .footer .row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 395px) {
  .footer {
    margin: 0;
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .our-portfolio .container {
    max-width: 100%;
  }
}

@media (max-width: 466px) {
  .our-portfolio .container {
    padding: 0;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFZQSxXQUFBO0FBR0E7RUFDRSxTQUFTO0FDYlg7O0FEZ0JBO0VBQ0UsY0FaNkI7QUNEL0I7O0FEZ0JBO0VBQ0UsbUJBQW1CO0VBQ25CLGtCQUFrQjtBQ2JwQjs7QURnQkEsZUFBQTtBQUVBO0VBQ0UsV0FBVztFQUNYLGtCQUFrQjtBQ2RwQjs7QURZQTtFQUtJLGlCQUFpQjtFQUNqQixtQkFBbUI7QUNidkI7O0FET0E7RUFTTSwwQkFBMEI7RUFDMUIsaUNBeEMwQjtFQXlDMUIsZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixjQXJDaUI7RUFzQ2pCLGtCQUFrQjtFQUNsQixtQkFBbUI7QUNaekI7O0FESEE7RUFtQk0scUJBQXFCO0VBQ3JCLGtCQUFrQjtFQUNsQixVQUFVO0FDWmhCOztBRFRBO0VBd0JRLGlCQUFpQjtFQUNqQix5QkFBeUI7RUFDekIscUJBQXFCO0VBQ3JCLGVBQWU7RUFDZixpQ0F4RHNCO0VBeUR0QixnQkFBZ0I7QUNYeEI7O0FEbEJBO0VBZ0NVLHFCQUFxQjtFQUNyQixXQXhEVztBQzhDckI7O0FEdkJBO0VBcUNVLGNBN0RhO0FDbUR2Qjs7QURpQkEsV0FBQTtBQUVBO0VBQ0UscURBQXNEO0VBQ3RELDJCQUEyQjtFQUMzQiw0QkFBNEI7RUFDNUIsc0JBQXNCO0VBQ3RCLGlCQUFpQjtFQUNqQixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLFdBN0VtQjtBQzhEckI7O0FET0E7RUFXTSxZQUFZO0VBQ1osY0FBYztBQ2RwQjs7QURFQTtFQWVRLGlDQXpGc0I7RUEwRnRCLHlCQUF5QjtFQUN6QixnQkFBZ0I7RUFDaEIsZUFBZTtFQUNmLGdCQUFnQjtBQ2J4Qjs7QUROQTtFQXVCUSxrQ0FsRzRCO0VBbUc1QixnQkFBZ0I7RUFDaEIsa0JBQWtCO0VBQ2xCLGVBQWU7RUFDZiwwQkFBMEI7RUFDMUIsbUJBQW1CO0FDYjNCOztBRGZBO0VBZ0NRLHFCQUFxQjtFQUNyQixnQkFBZ0I7RUFDaEIsbUJBQW1CO0VBQ25CLGtCQUFrQjtFQUNsQixrQkFBa0I7RUFDbEIsV0ExR2E7RUEyR2IsaUNBaEhzQjtFQWlIdEIsaUJBQWlCO0VBQ2pCLHlCQUF5QjtFQUN6QixlQUFlO0VBQ2Ysa0JBQWtCO0VBQ2xCLHFCQUFxQjtFQUNyQixlQUFlO0VBQ2YseUJBbkhlO0FDc0d2Qjs7QURrQkEsV0FBQTtBQUVBO0VBQ0UsV0F2SG1CO0FDdUdyQjs7QURlQTtFQUlJLGtCQUFrQjtFQUNsQixtQkFBbUI7RUFDbkIsaUJBQWlCO0FDZnJCOztBRFNBO0VBU00saUNBdkl3QjtFQXdJeEIseUJBQXlCO0VBQ3pCLGVBQWU7RUFDZixnQkFBZ0I7QUNkdEI7O0FERUE7RUFnQk0sZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixlQUFlO0VBQ2YsV0F6SWU7QUMySHJCOztBRExBO0VBd0JJLGtCQUFrQjtBQ2Z0Qjs7QURUQTtFQTZCUSxjQXZKZTtFQXdKZixlQUFlO0VBQ2YseUJBekplO0VBMEpmLHNCQXpKYTtFQTBKYixhQUFhO0VBQ2Isd0JBQXVCO0VBQ3ZCLDJCQUEyQjtFQUMzQixZQUFZO0VBQ1osaUJBQWlCO0VBQ2pCLGtCQUFrQjtBQ2hCMUI7O0FEdEJBO0VBMENRLFdBaEthO0VBaUtiLGtDQTFLNEI7QUMwSnBDOztBRDNCQTtFQStDUSxpQ0E3S3NCO0VBOEt0QixnQkFBZ0I7QUNoQnhCOztBRHNCQSxrQkFBQTtBQUVBO0VBQ0UseUJBakw2QjtBQzZKL0I7O0FEbUJBO0VBSUksaUJBQWlCO0VBQ2pCLGlCQUFpQjtFQUNqQiw0QkFBNEI7RUFDNUIscUJBQXFCO0FDbkJ6Qjs7QURZQTtFQVVNLG1CQUFtQjtFQUNuQixhQUFhO0VBQ2Isc0JBQXNCO0FDbEI1Qjs7QURNQTtFQWVRLFdBQVc7RUFDWCxhQUFhO0VBQ2Isb0JBQWlCO0tBQWpCLGlCQUFpQjtBQ2pCekI7O0FEQUE7RUFxQlEsc0JBdE1hO0FDcUxyQjs7QURKQTtFQXdCVSxlQUFlO0VBQ2YsZ0JBQWdCO0VBQ2hCLGVBQWU7RUFDZixpQkFBaUI7QUNoQjNCOztBRFhBO0VBK0JVLGVBQWU7RUFDZixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLG9CQUFvQjtFQUNwQixrQkFBa0I7QUNoQjVCOztBRHVCQSxXQUFBO0FBRUE7RUFDRSxzQkFBc0I7RUFDdEIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtBQ3JCbkI7O0FEa0JBO0VBTUksV0FoT2lCO0FDNE1yQjs7QURjQTtFQVVJLGNBQWM7RUFDZCxVQUFVO0VBQ1YsaUJBQWlCO0FDcEJyQjs7QURRQTtFQWVNLHFCQUFxQjtFQUNyQixlQUFlO0VBQ2YsV0FBVztFQUNYLFlBQVk7RUFDWix5QkFqUGlCO0VBa1BqQixXQWpQZTtFQWtQZixrQkFBa0I7RUFDbEIsaUJBQWlCO0FDbkJ2Qjs7QUR3QkEsVUFBQTtBQUVBO0VBRUU7SUFHSSxlQUFlO0VDekJuQjtFRHNCQTtJQUtJLFFBQVE7RUN4Qlo7RURtQkE7SUFRTSxnQkFBZ0I7RUN4QnRCO0VEZ0JBO0lBYU0sYUFBYTtFQzFCbkI7RURhQTtJQWdCUSxPQUFPO0lBQ1AsaUJBQWlCO0VDMUJ6QjtFRGdDQTtJQUdJLGFBQWE7RUNoQ2pCO0VEb0NBO0lBQ0UsbUJBQW1CO0VDbENyQjtFRHFDQTtJQUdJLDhCQUE4QjtFQ3JDbEM7QUFDRjs7QUR5Q0E7RUFDRTtJQUNFLFNBQVM7SUFDVCxlQUFlO0VDdENqQjtBQUNGOztBRDJDQTtFQUNFO0lBR0ksZUFBZTtFQzFDbkI7QUFDRjs7QUQ2Q0E7RUFDRTtJQUdNLFVBQVU7RUM1Q2hCO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */