/* Variables */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Global */
.body {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.7;
}

.container-menu {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
  position: absolute;
  margin-left: 40%;
  margin-top: 65px;
  width: auto;
}

/* Navigation*/
.navigation {
  padding: 0px 0;
}

.navigation ul li {
  display: inline-block;
  margin: 0 20px 0;
  position: relative;
  list-style: none;
}

.navigation ul li a {
  color: #ffffff;
  position: center;
  text-decoration: none;
}

.container-menu a:hover {
  color: #fed136;
}

/* Header */
.page-title a {
  color: #fed136;
  font-family: 'Great Vibes', cursive;
  position: absolute;
  overflow: hidden;
  margin-left: 30%;
  margin-top: 65px;
  font-size: 30px;
  text-decoration: none;
}

.splash {
  min-height: 500px;
  display: flex;
  border-radius: 3px;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 0;
}

.splash .splash-inner {
  margin: auto;
  max-width: auto;
}

.splash .splash-inner .page-subtitle {
  padding: 0;
  font-weight: 900;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  font-size: 86px;
  text-align: center;
}

.splash .splash-inner .page-title {
  padding-top: 80px;
  color: #ffffff;
  font-size: 44px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

/* Buttons */
.btn {
  color: #ffffff;
  background: #fed136;
  padding: 35px;
  margin: 24px 500px 0;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  min-width: 270px;
}

/* Services */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 26%;
  margin-right: 26%;
}

.text-box {
  padding-bottom: -100%;
  position: relative;
  flex: 0 0 31%;
}

.text-box.text-box p:first-of-type {
  font-weight: bold;
}

.wrapper p {
  font-weight: lighter;
  font-size: 16px;
  color: #777777;
  text-align: center;
}

.wrapper h3 {
  padding-top: 20px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.wrapper i {
  font-size: 50px;
  color: #fed136;
  border: 5px solid #fed136;
  background-color: #ffffff;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  width: 100px;
  padding-top: 20px;
  text-align: center;
}

.wrapper {
  text-align: center;
  margin-top: 100px;
}

.services-title {
  margin-top: 50px;
  font-style: bold;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  color: #272727;
  text-align: center;
}

.services-subtitle {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: lighter;
  color: #272727;
  font-style: italic;
  text-align: center;
}

.services {
  margin-bottom: 100px;
  height: 50vh;
}

/* Portfolio */
.portfolio {
  background-color: #F7F7F7;
  margin-bottom: 100px;
  height: 120vh;
}

.portfolio-title {
  padding-top: 200px;
  font-style: bold;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  color: #272727;
  text-align: center;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: lighter;
  color: #272727;
  font-style: italic;
  text-align: center;
}

.card-group img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
}

.card-text {
  font-size: 20px;
  font-weight: lighter;
  color: #777777;
  font-style: italic;
  margin-top: -35px;
  text-align: center;
}

.card-body {
  border: 0px #fed136;
  background-color: #ffffff;
  box-sizing: border-box;
  height: -100px;
  padding: 30px;
}

/* Footer */
footer {
  margin: 44px 0;
}

footer ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

footer ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #272727;
  border-radius: 50%;
  line-height: 60px;
}

footer ul li a {
  font-size: 30px;
  color: #ffffff;
}

/* Media */
@media only screen and (max-width: 960px) {
  .wrapper {
    flex-direction: column;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFBO0FBV0E7RUFDQyxzQkFBc0I7QUNUdkI7O0FEWUEsV0FBQTtBQUVBO0VBQ0ksU0FBUztFQUNULGtCQUFrQjtFQUNsQixlQUFlO0VBQ2YsZ0JBQWdCO0FDVnBCOztBRGFBO0VBQ0ksaUJBQWlCO0VBQ2pCLGVBQWU7RUFDZixjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsV0FBVztBQ1ZmOztBRGFBLGNBQUE7QUFFQTtFQUNJLGNBQWM7QUNYbEI7O0FEY0U7RUFDRSxxQkFBcUI7RUFDckIsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixnQkFBZ0I7QUNYcEI7O0FEY0E7RUFDSSxjQS9DZ0I7RUFnRGhCLGdCQUFnQjtFQUNoQixxQkFBcUI7QUNYekI7O0FEZUE7RUFDSSxjQXJEZ0I7QUN5Q3BCOztBRGVFLFdBQUE7QUFFRjtFQUNJLGNBM0RnQjtFQTREaEIsbUNBQW1DO0VBQ25DLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNoQixlQUFlO0VBQ2YscUJBQXFCO0FDYnpCOztBRGdCQTtFQUNJLGlCQUFpQjtFQUNqQixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLHVCQUE4QjtFQUM5QixrQ0FBa0M7RUFDbEMsNEJBQTRCO0VBQzVCLHNCQUFzQjtFQUN0QixZQUFZO0VBQ1osYUFBYTtBQ2JqQjs7QURnQkE7RUFDSSxZQUFZO0VBQ1osZUFBZTtBQ2JuQjs7QURnQkE7RUFDSSxVQUFVO0VBQ1YsZ0JBQWdCO0VBQ2hCLG9DQUFvQztFQUNwQyxjQTNGZ0I7RUE0RmhCLGVBQWU7RUFDZixrQkFBa0I7QUNidEI7O0FEZ0JBO0VBQ0ksaUJBQWlCO0VBQ2pCLGNBbEdnQjtFQW1HaEIsZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixvQkFBb0I7RUFDcEIsa0JBQWtCO0FDYnRCOztBRGdCRSxZQUFBO0FBRUY7RUFDSSxjQTVHZ0I7RUE2R2hCLG1CQTVHZ0I7RUE2R2hCLGFBQWE7RUFDYixvQkFBb0I7RUFDcEIscUJBQXFCO0VBQ3JCLGVBQWU7RUFDZixrQkFBa0I7RUFDbEIscUJBQXFCO0VBQ3JCLGdCQUFnQjtBQ2RwQjs7QURrQkUsYUFBQTtBQUVGO0VBQ0ksYUFBYTtFQUNiLGVBQWU7RUFDZiw4QkFBOEI7RUFDOUIsZ0JBQWdCO0VBQ2hCLGlCQUFpQjtBQ2hCckI7O0FEbUJBO0VBQ0kscUJBQXFCO0VBQ3JCLGtCQUFrQjtFQUNsQixhQUFhO0FDaEJqQjs7QURpQkk7RUFDRSxpQkFBaUI7QUNkdkI7O0FEaUJBO0VBQ0ksb0JBQW9CO0VBQ3BCLGVBQWU7RUFDZixjQTNJa0I7RUE0SWxCLGtCQUFrQjtBQ2R0Qjs7QURpQkE7RUFDSSxpQkFBaUI7RUFDakIsb0NBQW9DO0VBQ3BDLGtCQUFrQjtBQ2R0Qjs7QURpQkE7RUFDSSxlQUFlO0VBQ2YsY0F4SmdCO0VBeUpoQix5QkF6SmdCO0VBMEpoQix5QkEzSmdCO0VBNEpoQixhQUFhO0VBQ2Isd0JBQXVCO0VBQ3ZCLDJCQUEyQjtFQUMzQixZQUFZO0VBQ1osaUJBQWlCO0VBQ2pCLGtCQUFrQjtBQ2R0Qjs7QURpQkU7RUFDRSxrQkFBa0I7RUFDbEIsaUJBQWlCO0FDZHJCOztBRGlCQTtFQUNJLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsZUFBZTtFQUNmLG9DQUFvQztFQUNwQyxjQTNLaUI7RUE0S2pCLGtCQUFrQjtBQ2R0Qjs7QURpQkE7RUFDSSxnQkFBZ0I7RUFDaEIsbUJBQW1CO0VBQ25CLGVBQWU7RUFDZixvQkFBb0I7RUFDcEIsY0FwTGlCO0VBcUxqQixrQkFBa0I7RUFDbEIsa0JBQWtCO0FDZHRCOztBRGlCRTtFQUNFLG9CQUFvQjtFQUNwQixZQUFZO0FDZGhCOztBRGlCRSxjQUFBO0FBRUY7RUFDRSx5QkFoTW1CO0VBaU1uQixvQkFBb0I7RUFDcEIsYUFBYTtBQ2ZmOztBRG1CQTtFQUNJLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsZUFBZTtFQUNmLG9DQUFvQztFQUNwQyxjQTVNaUI7RUE2TWpCLGtCQUFrQjtBQ2hCdEI7O0FEbUJBO0VBQ0ksZUFBZTtFQUNmLG9CQUFvQjtFQUNwQixjQW5OaUI7RUFvTmpCLGtCQUFrQjtFQUNsQixrQkFBa0I7QUNoQnRCOztBRG1CQTtFQUNJLFlBQVk7RUFDWixhQUFhO0VBQ2Isb0JBQWlCO0tBQWpCLGlCQUFpQjtBQ2hCckI7O0FEbUJBO0VBQ0ksZUFBZTtFQUNmLG9DQUFvQztFQUNwQyxrQkFBa0I7RUFDbEIsZ0JBQWdCO0FDaEJwQjs7QURtQkE7RUFDSSxlQUFlO0VBQ2Ysb0JBQW9CO0VBQ3BCLGNBek9rQjtFQTBPbEIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixrQkFBa0I7QUNoQnRCOztBRG1CRTtFQUNFLG1CQWpQZ0I7RUFrUGhCLHlCQW5QZ0I7RUFvUGhCLHNCQUFzQjtFQUN0QixjQUFjO0VBQ2QsYUFBYTtBQ2hCakI7O0FEbUJFLFdBQUE7QUFFRjtFQUNJLGNBQWM7QUNqQmxCOztBRG9CQTtFQUNJLGNBQWM7RUFDZCxVQUFVO0VBQ1Ysa0JBQWtCO0FDakJ0Qjs7QURvQkE7RUFDSSxxQkFBcUI7RUFDckIsV0FBVztFQUNYLFlBQVk7RUFDWix5QkF0UWlCO0VBdVFqQixrQkFBa0I7RUFDbEIsaUJBQWlCO0FDakJyQjs7QURvQkE7RUFDSSxlQUFlO0VBQ2YsY0FoUmdCO0FDK1BwQjs7QURvQkUsVUFBQTtBQUVGO0VBRUk7SUFDSSxzQkFBc0I7RUNuQjVCO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */