/* Variables */
 $color-one: #ffffff;
 $color-two: #fed136;
 $color-three: #38ada9;
 $color-four: #3d3d3d;

*, *::before, *::after {
	box-sizing: border-box;

/* Global */

.body {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;

.container-menu {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto; 
}

/* Navigation*/

.navigation {
    padding: 0px 0; 
  }
  
  .navigation ul li {
    display: block;
    margin: 0 20px 0;
    position: relative;
    list-style: none;
  
  }

.navigation ul li a {
    color: $color-one;
    position: center;
  }

.container-menu {
    position: absolute;
    margin-left: 40%;
    margin-top: 65px;
    width: auto;
  }

.container-menu a:hover {
    color: $color-two;
  }

  /* Header */

.page-title a {
    color: $color-two;
    font-family: 'Great Vibes', cursive;
    position: absolute;
    overflow: hidden;
    margin-left: -20%;
    margin-top: 55px;
    font-size: 30px;
    
  }
.splash {
    min-height: 500px;
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
  }

.splash .splash-inner {
    margin: auto;
    max-width: auto; 
  }
  
.splash .splash-inner .page-subtitle {
    padding: 0;

    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    color: $color-one;
    font-size: 74px;
  }
  
.splash .splash-inner .page-title {
    padding: 20px;
    color: $color-one;
    font-size: 44px;
    font-style: italic;
    font-weight: lighter;
  }

  /* Buttons */

.btn {
    margin-top: 25px;
    color: $color-one;
    background: $color-two;
    padding: 20px 45px;
  }

  /* Services */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 26%;
    margin-right: 26%;
  }
  
.text-box {
    padding-bottom: -100%;
    position: relative;
    flex: 0 0 31%; }
    .text-box.text-box p:first-of-type {
      font-weight: bold; 
  }
  
.wrapper p {
    font-weight: lighter;
    font-size: 16px;
    color: $color-three;
  }

.wrapper h3 {
    padding-top: 20px;
    font-family: 'Work Sans', sans-serif;
  }

.wrapper i {
    font-size: 50px;
    color: $color-two;
    border: 5px solid $color-two;
    background-color: $color-one;
    height: 100px;
    -moz-border-radius:50px;
    -webkit-border-radius: 50px;
    width: 100px;
    padding-top: 20px;
  }

.services-title {
    margin-top: 100px;
    font-style: bold;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    color: $color-four;
  }

.services-subtitle {
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: lighter;
    color: yellow;
    font-style: italic;
  }

  /* Portfolio */

.portfolio-title {
    margin-top: 100px;
    font-style: bold;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    color: $color-four;
  }

.portfolio-subtitle {
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: lighter;
    color: $color-three;
    font-style: italic;
  }

.card-group img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }

.card-title {
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
  }

.card-text {
    font-size: 20px;
    font-weight: lighter;
    color: $color-three;
    font-style: italic;
    margin-top: -20px;
  }

  /* Footer */
  
footer {
    margin: 44px 0; 
  }
  
footer ul {
    margin: 0 auto;
    padding: 0;
    text-align: center; 
  }
  
footer ul li {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: $color-four;
    border-radius: 50%;
    line-height: 60px;
  }
        
footer ul li a {
    font-size: 30px;
    color: $color-one;
  }

  /* Media */

@media only screen and (max-width: 960px) {

    .wrapper {
        flex-direction: column; 
    }
} } } 