$font-logo: 'Carattere', cursive;
$textfont-one: 'Montserrat', sans-serif;
$navfont: 'Roboto', sans-serif;
$textfont-two: 'Roboto Mono', monospace;

$color-gold: #FED136;
$color-font-one: #FFF;
$color-background-main: #eff2f5;
$color-background: #F7F7F7;
$color-font-two: #111;
$color-font-three: #5E5E5E;

/* Global */


body {
  margin: 0;
}

p {
  color: $color-background-main;
}

.padding-x {
  padding-right: 40px;
  padding-left: 40px;
}

/* Navigation */

.navigation {
  width: 100%;
  position: absolute;

  .row {
    flex-wrap: nowrap;
    align-items: center;

    .logo {
      text-transform: capitalize;
      font-family: $font-logo;
      font-size: 38px;
      font-style: italic;
      color: $color-gold;
      text-align: center;
      padding-right: 90px;
    }

    ul {
      list-style-type: none;
      text-align: center;
      padding: 0;

      li {
        margin: 50px 30px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-family: $navfont;
        font-weight: 500;

        a {
          text-decoration: none;
          color: $color-font-one;
        }

        a:hover {
          color: $color-gold;
        }
      }
    }
  }
}

/* Splash */

.splash {
  background-image: url('/images/Background\ Image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  display: flex;
  text-align: center;
  color: $color-font-one;

  .splash-inner {
      margin: auto;
      max-width: 70%;

      .page-subtitle {
        font-family: $navfont;
        text-transform: uppercase;
        font-size: 75px;
        margin-top: 10px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
      }

      .page-title {
        font-family: $textfont-one;
        font-weight: 300;
        font-style: italic;
        font-size: 40px;
        text-transform: capitalize;
        margin-bottom: 10px;
        line-height: 1.2;
        text-align: center;
      }

      .btn {
        display: inline-block;
        max-width: 250px;
        margin: 25px auto 0;
        padding: 20px 40px;
        border-radius: 3px;
        color: $color-font-one;
        font-family: $navfont;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background-color: $color-gold;
      }
  }
}

/* Service*/

section {
  color: $color-font-two;

  .section-header {
    text-align: center;
    margin: 60px 0 60px;
    padding-top: 40px;

    .section-title {
      font-family: $navfont;
      text-transform: uppercase;
      font-size: 46px;
      margin-bottom: 0;
      font-style: bold;
    }

    p {
      font-size: 18px;
      font-style: italic;
      margin-top: 5px;
      color: $color-font-three;
      font-family: $navfont;
      line-height: 1.2;

    }
  }

  .container {
    text-align: center;

    .row {

      i {
        color: $color-gold;
        font-size: 50px;
        border: 5px solid $color-gold;
        background-color: $color-font-one;
        height: 100px;
        -moz-border-radius:50px;
        -webkit-border-radius: 50px;
        width: 100px;
        padding-top: 20px;
        text-align: center;
      }

      p {
        color: $color-font-two;
        font-family: $navfont;
        font-size: 14px;
        text-align: center;
        font-style: italic;
      }

      .container-title {
        font-family: $navfont;
        font-size: 1.2em;
        font-style: bold;
      }
    }
  }
}

/* Our portfolio */

.our-portfolio {
  background-color: $color-background-main;

  .row {
    max-width: 1000px;
    margin: auto 70px;
    align-content: space-between;
    padding-bottom: 100px;

    .card {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

      .card-img{
        width: 100%;
        height: 300px;
        object-fit: cover;

      }
      .card-body {
        background-color: $color-font-one;

        .card-title {
          font-size: 20px;
          margin-bottom: 0;
          margin-top: 5px;
          padding-top: 25px;
        }

        .card-text {
          font-size: 16px;
          margin-top: 0;
          margin-bottom: 5px;
          padding-bottom: 25px;
          font-style: italic;
        }
      }
    }
  }
}

/* Footer */

footer {
  padding: 30px 0 30px 0;
  text-align: center;
  margin: auto 70px;

  ul li  {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: $color-font-two;
    border-radius: 50%;
    line-height: 60px;

    a {
      font-size: 30px;
      color: $color-font-one;
    }
  }
}


/* Media */

@media (max-width: 767px) {

  .navigation {

    .row {
      flex-wrap: wrap;
      div:first-child {
      order: 1;

        .logo {
        margin-left: 85px;
        }
      }

      ul {
        display: flex;

        li {
          flex: 1;
          flex-wrap: nowrap;
        }
      }
    }
  }

  .splash {
    .page-subtitle{
      display: none;
    }
  }

  .margin-b {
    margin-bottom: 18px;
  }

  .footer {

    .row {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 395px) {
  .footer {
    margin: 0;
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .our-portfolio {
    .container {
      max-width: 100%;
    }
  }
}
@media (max-width: 466px) {
  .our-portfolio {
    .container {
        padding: 0;
    }
  }
}