/* Global */


body {
    margin: 0;
    text-align: center;
    color: %fff;
    font-size: 16px;
    line-height: 1.7;
}


/* Navigation*/

.navigation {
    padding: 0px 0; 
  }
  
  .navigation ul li {
    display: inline-block;
    margin: 0 20px 0;
    position: relative;
  }

  .navigation ul li a {
    color: #fff;
    position: center;
  }

  .container-menu {
    position: absolute;
    margin-left: 40%;
    margin-top: 65px;
    width: auto;
  }

  .container-menu a:hover {
    color: #fed136;
  }

  /* Header */

  .page-title a {
    color: #fed136;
    font-family: 'Great Vibes', cursive;
    position: absolute;
    overflow: hidden;
    margin-left: -20%;
    margin-top: 55px;
    font-size: 30px;
    
  }
  .splash {
    min-height: 500px;
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
   
  .splash .splash-inner {
    margin: auto;
    max-width: auto; 
  }
  
  .splash .splash-inner .page-subtitle {
    padding: 0;

    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 74px;
  }
  
  .splash .splash-inner .page-title {
    padding: 20px;

    color: #fff;
    font-size: 44px;
    font-style: italic;
    font-weight: lighter;
  }

  /* Buttons */

  .btn {
    margin-top: 25px;
    color: #fff;
    background: #fed136;
    padding: 20px 45px;
  }

  /* Services */

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
  }

  
  .text-box {
    padding-bottom: -100%;
    position: relative;
    flex: 0 0 31%; }
    .text-box.text-box p:first-of-type {
      font-weight: bold; 
  }
  
  .wrapper p {
    font-weight: lighter;
    font-size: 16px;
    color: grey;

  }
  .wrapper h3 {

    padding-top: 20px;
  }

  .wrapper i {
    font-size: 50px;
    color: #fed136;
    border: 5px solid #fed136;
    background-color: #fff;
    height: 100px;
    -moz-border-radius:50px;
    -webkit-border-radius: 50px;
    width: 100px;
    padding-top: 20px;

  }
    